@import url("https://fonts.googleapis.com/css2?family=Atma:wght@700&family=Golos+Text&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* I. NAVIGATION HEADER SECTION*/

.logo-text {
  color: #48c291;
  font-weight: bold;
}
.offcanvas-title span {
  color: #48c291;
  font-weight: bold;
}

.offcanvas-title {
  text-transform: uppercase;
}

.container-fluid > a {
  text-transform: uppercase;
}

/* II. WELCOME REMARKS SECTION */

.welcome-remarks {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-image: url(assets/images-background/homepage-background-2.svg);
  background-repeat: no-repeat;
  background-size: cover;
  color: whitesmoke;
  height: 100vh;
  width: 100vw;
}

.welcome {
  font-size: 27px;
}

.typewrite {
  color: whitesmoke;
  padding-top: 10em;
  font-size: 36px;
  font-weight: bold;
  padding-top: 10em;
  text-decoration: none;
}

.welcome-place-of-address {
  font-size: 19px;
}
.btn-lg {
  padding: 15px 25px;
  font-size: 40px;
  border-radius: 10px;
  min-width: 100px;
  max-width: 150px;
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .welcome-remarks {
    height: 50vh;
  }

  .welcome {
    font-size: 25px;
  }
  .typewrite {
    font-size: 30px;
  }
  .welcome-place-of-address {
    font-size: 15px;
  }
}

@media screen and (min-width: 961px) {
  .welcome-remarks {
    height: 75vh;
    width: auto;
  }
  .welcome {
    font-size: 35px;
  }
  .typewrite {
    font-size: 50px;
  }
  .welcome-place-of-address {
    font-size: 20px;
  }
}

/* III. MY SKILLS SECTION */
.my-skills {
  background-color: #212529;
  color: whitesmoke;
}

.my-skills-introduction > h2 {
  font-size: 20px;
  text-align: center;
  padding: 10px 0 10px 0;
}

.introductory-name {
  color: #48c291;
  font-weight: bold;
}

.introductory-paragraph::first-letter {
  /* DROP CAP EFFECT */
  color: #ff004e;
  float: left;
  font-family: Georgia;
  font-size: 75px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

.introductory-paragraph {
  font-size: 14px;
  text-align: justify;
  padding: 10px 7px 10px 7px;
}

.web-design,
.html-group,
.css-group,
.javascript-group {
  display: grid;
  grid-template-columns: 0.5fr 2fr;
  flex-direction: row;
}

.my-skills-list div img {
  height: auto;
  width: 60px;
  margin-left: 5px;
}

.my-skills-list div h5 {
  font-size: 17px;
}
.my-skills-list div p {
  font-size: 14px;
}

@media screen and (min-width: 601px) and (max-width: 960px) {
  .my-skills-introduction > h2 {
    font-size: 30px;
    text-align: center;
  }

  .introductory-paragraph::first-letter {
    /* DROP CAP EFFECT */
    color: #ff004e;
    float: left;
    font-family: Georgia;
    font-size: 100px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

  .introductory-paragraph {
    font-size: 20px;
    text-align: justify;
    padding: 20px 20px 20px 20px;
  }

  .my-skills-list div img {
    height: auto;
    width: 150px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 5px 0 5px 0;
  }

  .my-skills-list div h5 {
    font-size: 30px;
    margin: 5px 10px 5px 10px;
  }
  .my-skills-list div p {
    font-size: 20px;
    margin: 5px 10px 5px 10px;
  }
}
@media screen and (min-width: 961px) {
  .my-skills-introduction > h2 {
    font-size: 30px;
    text-align: center;
  }

  .introductory-paragraph::first-letter {
    /* DROP CAP EFFECT */
    color: #ff004e;
    float: left;
    font-family: Georgia;
    font-size: 100px;
    line-height: 60px;
    padding-top: 4px;
    padding-right: 8px;
    padding-left: 3px;
  }

  .introductory-paragraph {
    font-size: 20px;
    text-align: justify;
    padding: 20px 20px 20px 20px;
  }

  .my-skills-list div img {
    height: auto;
    width: 150px;
    padding-left: 3px;
    padding-right: 3px;
    margin: 5px 0 5px 0;
  }

  .my-skills-list div h5 {
    font-size: 30px;
    margin: 5px 10px 5px 10px;
  }
  .my-skills-list div p {
    font-size: 20px;
    margin: 5px 10px 5px 10px;
  }
}

/* III. SUMMARY SECTION */
.summary {
  background-color: #353a41;
  color: whitesmoke;
}

.project-pictures {
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  border: 2px solid red;
}

/* Appearing Text over image during hover */
.css-effect-hover {
  position: relative;
  height: 200px;
  width: 257px;
}

.appear-text-hover {
  position: absolute;
  top: 75%;
  bottom: 0;
  left: 10%;
  right: 0;
  color: whitesmoke;
  visibility: hidden;
  opacity: 0;
  text-align: center;
}

.css-effect-hover:hover .appear-text-hover {
  visibility: visible;
  opacity: 1;
}
/* Appearing Text over image during hover */

/* Hover Effect of Blurring Image during hover */
.css-effect-hover > img:hover {
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  filter: blur(4px);
}
